@model GerenciadorDeProcessosSeletivos.Models.ProcessoSeletivo
@{
    ViewBag.Title = "IndexProcessoSeletivo";
}

<h2>IndexProcessoSeletivo</h2>

<div>
    <p>@Model.Cargo</p>
    <p>@Model.Candidatos</p>
    <p>@Model.Fase1</p>
    <p>@Model.Fase2</p>


</div>

